p {
    font-family: Arial;
    width: 200px;
    font-size: 18px;
  }
  a {
    text-decoration: none;
  }
   .sis-text {
      font-weight: bolder;
      font-style: italic;
    }
    .question-text {
        font-style: italic;
    }
    button {
        display: block;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 5px;
        text-align: left;
        height: 50px;
        width: 200px;;
        font-size: 18px;
        cursor: pointer;
        border: none;
        color:white;
        border-radius: 20px;
        transition: opacity 0.15;
    }
    button:hover {
        opacity: 0.9;
    }
    button:active {
        opacity: 0.8;
    }
    .pesca-button {
        background-color: rgb(237, 142, 194);
    }
    .friend-button {
        background-color: rgb(65, 172, 65);
    }
    .stranger-button {
        background-color: rgb(173, 17, 17);
    }
