img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    object-position: center;
    border-radius: 50px;
    margin: 10px;
    vertical-align: middle;
}
.text-box {
    height: 20px;
    width: 250px;
    border-style: none;
    border-radius: 50px;
    vertical-align: middle;
}
.button {
    height: 30px;
    width: 80px;
    border-radius: 50px;
    color: white;
    background-color: rgb(3, 161, 252);
    border-style: none;

}